@charset "utf-8";
/***▼header・main・footer共通***/
/*▼配置全般*/
body {
  position: relative;
  height: 1000vh;
}
#main {
  position: relative;
  z-index: 0;
  height: 1000vh; /* height_main */
}
/*▲配置全般*/
/***▲header・main・footer共通***/
/***▼header***/
/***▲header***/
/***▼main***/
/***▲main***/
/***▼footer***/
/***▲footer***/